# IMPORT LIBRARIES

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
a = pd.read_csv('1950-1989/bollywood_1950-1989.csv')

In [3]:
a

,title,imdb_id,poster_path,wiki_link
0,Aag Ka Gola,tt0177489,https://upload.wikimedia.org/wikipedia/en/2/2a...,https://en.wikipedia.org/wiki/Aag_Ka_Gola
1,Ram Lakhan,tt0098168,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Ram_Lakhan
2,Asmaan Se Ooncha,tt0233146,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Asmaan_Se_Ooncha
3,Tridev,tt0100816,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Tridev
4,ChaalBaaz,tt0122427,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/ChaalBaaz
...,...,...,...,...
2209,Hindustan Hamara (1950 film),tt0273261,https://upload.wikimedia.org/wikipedia/en/9/90...,https://en.wikipedia.org/wiki/Hindustan_Hamara...
2210,Sheesh Mahal (1950 film),tt0243555,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Sheesh_Mahal_(19...
2211,Meena Bazaar (film),tt0213081,NaN,https://en.wikipedia.org/wiki/Meena_Bazaar_(19...
2212,Sati Narmada,tt0230735,NaN,https://en.wikipedia.org/wiki/Sati_Narmada
2213,Ek Musafir Ek Hasina,tt0055949,https://upload.wikimedia.org/wikipedia/en/5/59...,https://en.wikipedia.org/wiki/Ek_Musafir_Ek_Ha...

In [4]:
b = pd.read_csv('1950-1989/bollywood_meta_1950-1989.csv')

In [5]:
b

,imdb_id,title,original_title,is_adult,year_of_release,runtime,genres
0,tt0042184,Afsar,Afsar,0,1950,121,Comedy|Romance
1,tt0042207,Arzoo,Arzoo,0,1950,\N,Musical|Romance
2,tt0042225,Banwra,Banwra,0,1950,148,Drama
3,tt0042233,Bawre Nain,Bawre Nain,0,1950,138,Drama|Romance
4,tt0042380,Dastan,Dastan,0,1950,122,Drama|Family|Romance
...,...,...,...,...,...,...,...
2154,tt4491560,Light House,Light House,0,1958,132,Thriller
2155,tt4723176,Mr. Qartoon M. A.,Mr. Qartoon M. A.,0,1958,\N,Comedy
2156,tt4765670,Astik,Astik,0,1956,\N,Drama
2157,tt4799112,Shiv Bhakta,Shiv Bhakta,0,1955,\N,Drama
2158,tt4814348,Alladin Ka Beta,Alladin Ka Beta,0,1955,\N,Action

In [6]:
c = pd.read_csv('1950-1989/bollywood_ratings_1950-1989.csv')

In [7]:
c

        imdb_id  imdb_rating  imdb_votes
0     tt0177489          5.4          81
1     tt0098168          6.8        1993
2     tt0233146          5.0          44
3     tt0100816          6.3        1602
4     tt0122427          6.7        1298
...         ...          ...         ...
1904  tt0244182          6.2          20
1905  tt0269826          6.8          21
1906  tt0243555          7.0          13
1907  tt0213081          7.0           9
1908  tt0055949          6.7          39

[1909 rows x 3 columns]

In [8]:
d = pd.read_csv('1950-1989/bollywood_text_1950-1989.csv')
d

,imdb_id,story,summary,tagline,actors,wins_nominations,release_date
0,tt0349122,Amit (Rakesh Roshan) is a big city boy but hi...,Amit (Rakesh Roshan) is a big city boy but hi...,NaN,NaN,NaN,18 December 1989 (India)
1,tt0098168,Sharda (Raakhee) vows vengeance when her husba...,Sharda (Raakhee) vows vengeance when her husba...,NaN,Rakhee Gulzar|Jackie Shroff|Anil Kapoor|Dimple...,2 wins & 4 nominations,27 January 1989 (India)
2,tt0122427,Anju and Manju identical twins separated at b...,Twins separated at infancy are brought up diff...,NaN,Sridevi|Sunny Deol|Rajinikanth|Anupam Kher|Sha...,2 wins,8 December 1989 (India)
3,tt0096896,In India circa after the British Rule there i...,In India circa after the British Rule there i...,NaN,Dharmendra|Vinod Khanna|Dimple Kapadia|Poonam ...,1 nomination,14 July 1989 (India)
4,tt0233146,Anita lives an abusive life-style with her alc...,Anita lives an abusive life-style with her alc...,NaN,Jeetendra|Raj Babbar|Anita Raj|Govinda|Sonam|S...,NaN,NaN
...,...,...,...,...,...,...,...
2123,tt0214273,NaN,Add a PlotÂ Â»,NaN,Trilok Kapoor|,NaN,NaN
2124,tt0268614,The story is based on the true incident at INA...,The story is based on the true incident at INA...,NaN,Ashok Kumar|Nalini Jaywant|Kuldip Kaur|Shyam|M...,NaN,NaN
2125,tt0213081,NaN,Add a PlotÂ Â»,NaN,NaN,NaN,NaN
2126,tt0269826,NaN,Add a PlotÂ Â»,NaN,Raj Kapoor|Rehana|Om Prakash|David Abraham|Rad...,NaN,4 February 1957 (Iran)
2127,tt0230735,NaN,Add a PlotÂ Â»,NaN,Sulochana Chatterjee|Ishwarlal|,NaN,NaN

In [9]:
c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1909 entries, 0 to 1908
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   imdb_id      1909 non-null   object
 1   imdb_rating  1909 non-null   float64
 2   imdb_votes   1909 non-null   int64
dtypes: float64(1), int64(1), object(1)
memory usage: 44.9+ KB

In [10]:
len(c['imdb_id'].unique())

1876

In [11]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2214 entries, 0 to 2213
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        2214 non-null   object
 1   imdb_id      2161 non-null   object
 2   poster_path  1537 non-null   object
 3   wiki_link    2214 non-null   object
dtypes: object(4)
memory usage: 69.3+ KB

In [12]:
a.merge(c, on="imdb_id").duplicated('imdb_id').value_counts()

False    1876
True       99
Name: count, dtype: int64

In [228]:
"""
    FOR popular and collaborative filterring
    we will consider only 
    
    title,
    imbd_id,
    poster_path,
    wiki_link,
    imdb_rating,
    imdb_votes
    
"""
pass

# COMBINING ALL 3 DATASET TOGETHER

In [229]:
a1 = pd.read_csv('1950-1989/bollywood_1950-1989.csv')
b1 = pd.read_csv('1950-1989/bollywood_meta_1950-1989.csv')
c1 = pd.read_csv('1950-1989/bollywood_text_1950-1989.csv')

a2 = pd.read_csv('1990-2009/bollywood_1990-2009.csv')
b2 = pd.read_csv('1990-2009/bollywood_meta_1990-2009.csv')
c2 = pd.read_csv('1990-2009/bollywood_text_1990-2009.csv')

a3 = pd.read_csv('2010-2019/bollywood_2010-2019.csv')
b3 = pd.read_csv('2010-2019/bollywood_meta_2010-2019.csv')
c3 = pd.read_csv('2010-2019/bollywood_text_2010-2019.csv')

In [230]:
a1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2214 entries, 0 to 2213
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        2214 non-null   object
 1   imdb_id      2161 non-null   object
 2   poster_path  1537 non-null   object
 3   wiki_link    2214 non-null   object
dtypes: object(4)
memory usage: 69.3+ KB

In [231]:
a1.dropna(subset='imdb_id', axis=0,inplace=True)

In [232]:
a1[a1.duplicated('imdb_id')]

,title,imdb_id,poster_path,wiki_link
27,Goonj (1989 film),tt0172509,https://upload.wikimedia.org/wikipedia/en/d/d3...,https://en.wikipedia.org/wiki/Goonj_(1989_film)
723,Arising from the Surface,tt0081453,NaN,https://en.wikipedia.org/wiki/Satah_Se_Uthata_...
1530,The Gold Medal (film),tt0229950,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Gold_Medal_(...
1540,Ankhen (1968 film),tt0147811,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Aankhen_(1968_film)
1549,Brahmachari (1968 Hindi film),tt0147925,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Brahmachari_(Hin...
1618,Jewel Thief,tt0061842,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Jewel_Thief_(196...
1624,Upkar,tt0146335,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Upkar_(1967_film)
1625,Ram Aur Shyam,tt0062177,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Ram_Aur_Shyam_(1...
1639,Love in Tokyo,tt0157944,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Love_in_Tokyo
1646,Pyar Kiye Jaa,tt0176075,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Pyaar_Kiye_Jaa
1657,Phool Aur Patthar,tt0139525,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Phool_Aur_Paththar
1726,Woh Kaun Thi?,tt0232960,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Woh_Kaun_Thi%3F
1744,Bandini (film),tt0056850,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Bandini_(1963_film)
1788,Anpadh,tt0206554,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Anpadh_(1962_film)
1825,Jab Pyar Kisi Se Hota Hai,tt0230348,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Jab_Pyar_Kisise_...
1835,Sasural (1961 film),tt0246916,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Sasuraal
1841,Hariyali Aur Rasta,tt0156593,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Hariyali_Aur_Raasta
1862,Dil Apna Aur Preet Parai,tt0053767,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Dil_Apna_Aur_Pre...
1868,Jis Desh Mein Ganga Behti Hai,tt0053965,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Jis_Desh_Men_Gan...
1891,Anari,tt0052560,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Anari_(1959_film)
1961,Madhumati,tt0050665,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Madhumati_(1958_...
1968,Yahudi,tt0052411,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Yahudi_(1958_film)
1994,Pyaasa,tt0050870,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Pyaasa_(1957_film)
1999,Paying Guest,tt0050829,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Paying_Guest_(19...
2014,Chori Chori,tt0049072,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Chori_Chori_(195...
2093,Uran Khatola (film),tt0048756,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uran_Khatola_(19...
2103,Mirza Ghalib (film),tt0137958,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Mirza_Ghalib_(19...
2104,Jagriti,tt0145851,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Jagriti_(1954_film)
2110,Boot Polish (film),tt0046799,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Boot_Polish_(195...
2138,Shikast,tt0148842,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Shikast_(1953_film)
2153,Aan,tt0044318,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Aan_(1952_film)
2162,Sangdil,tt0130991,https://upload.wikimedia.org/wikipedia/en/4/48...,https://en.wikipedia.org/wiki/Sangdil_(1952_film)
2213,Ek Musafir Ek Hasina,tt0055949,https://upload.wikimedia.org/wikipedia/en/5/59...,https://en.wikipedia.org/wiki/Ek_Musafir_Ek_Ha...

In [233]:
a1.drop_duplicates('imdb_id',inplace=True)

In [234]:
a1[a1.duplicated('title')]

Empty DataFrame
Columns: [title, imdb_id, poster_path, wiki_link]
Index: []

In [235]:
"""
    Different pictures can have same imdb_id
"""
a1[a1.duplicated('imdb_id', keep=False)]

Empty DataFrame
Columns: [title, imdb_id, poster_path, wiki_link]
Index: []

In [236]:
"""
    Different pictures can have same imdb_id
"""

a1[a1.duplicated('title', keep=False)]        # gives all duplicated

Empty DataFrame
Columns: [title, imdb_id, poster_path, wiki_link]
Index: []

In [237]:
a1[a1.duplicated('title')].count()           # 31 will have repeated rows

title          0
imdb_id        0
poster_path    0
wiki_link      0
dtype: int64

In [238]:
"""
    Dropping duplicated title
    to make search of movie based on it
"""
pass

In [239]:
a1.drop_duplicates('title', inplace =True)

In [240]:
b1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2159 entries, 0 to 2158
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   imdb_id          2159 non-null   object
 1   title            2159 non-null   object
 2   original_title   2159 non-null   object
 3   is_adult         2159 non-null   int64
 4   year_of_release  2159 non-null   int64
 5   runtime          2159 non-null   object
 6   genres           2159 non-null   object
dtypes: int64(2), object(5)
memory usage: 118.2+ KB

In [241]:
"""
    No null values
"""
pass

In [242]:
b1.duplicated().sum()

33

In [243]:
"""
    large no. of duplicates
"""
b1.drop_duplicates(inplace= True)

In [244]:
b1[b1.duplicated('title', keep=False)]

,imdb_id,title,original_title,is_adult,year_of_release,runtime,genres
1,tt0042207,Arzoo,Arzoo,0,1950,\N,Musical|Romance
6,tt0043307,Baazi,Baazi,0,1951,143,Crime|Drama|Musical
9,tt0043997,Sazaa,Sazaa,0,1951,111,Drama|Family
12,tt0044360,Anhonee,Anhonee,0,1952,155,Drama|Romance|Thriller
16,tt0044761,Jaal,Jaal,0,1952,165,Crime|Thriller
...,...,...,...,...,...,...,...
2064,tt0430561,Saazish,Saazish,0,1975,132,Action|Crime|Thriller
2087,tt0450787,Inspector,Inspector,0,1970,\N,Thriller
2091,tt0451901,Sasural,Sasural,0,1984,164,Drama|Family
2092,tt0452143,Balidaan,Balidaan,0,1971,\N,Drama
2098,tt0482800,Mr. India,Mr. India,0,1961,179,Comedy|Crime|Drama

In [245]:
"""
    Large no. of movies with duplicated names
"""
b1.drop_duplicates('title',inplace=True)

In [246]:
c1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2128 entries, 0 to 2127
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   imdb_id           2128 non-null   object
 1   story             1723 non-null   object
 2   summary           2128 non-null   object
 3   tagline           32 non-null     object
 4   actors            2115 non-null   object
 5   wins_nominations  421 non-null    object
 6   release_date      983 non-null    object
dtypes: object(7)
memory usage: 116.5+ KB

In [247]:
"""
    b1 has no duplicated id 
"""

b1[b1.duplicated('imdb_id', keep=False)]

Empty DataFrame
Columns: [imdb_id, title, original_title, is_adult, year_of_release, runtime, genres]
Index: []

In [248]:
"""
    c1 has no duplicated id 
"""

c1[c1.duplicated('imdb_id', keep=False)]

Empty DataFrame
Columns: [imdb_id, story, summary, tagline, actors, wins_nominations, release_date]
Index: []

In [249]:
"""
    merging b1 and c1 based on imbd_id
"""
bc1 = b1.merge(c1, on='imdb_id')

In [250]:
bc1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2045 entries, 0 to 2044
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   imdb_id           2045 non-null   object
 1   title             2045 non-null   object
 2   original_title    2045 non-null   object
 3   is_adult          2045 non-null   int64
 4   year_of_release   2045 non-null   int64
 5   runtime           2045 non-null   object
 6   genres            2045 non-null   object
 7   story             1661 non-null   object
 8   summary           2045 non-null   object
 9   tagline           32 non-null     object
 10  actors            2033 non-null   object
 11  wins_nominations  411 non-null    object
 12  release_date      943 non-null    object
dtypes: int64(2), object(11)
memory usage: 207.8+ KB

In [251]:
"""
    Merging a1 and bc1 based on title 
"""
a1['original_title'] = a1['title']
x = a1.merge(bc1, on='original_title')

In [252]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1286 entries, 0 to 1285
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title_x           1286 non-null   object
 1   imdb_id_x         1286 non-null   object
 2   poster_path       861 non-null    object
 3   wiki_link         1286 non-null   object
 4   original_title    1286 non-null   object
 5   imdb_id_y         1286 non-null   object
 6   title_y           1286 non-null   object
 7   is_adult          1286 non-null   int64
 8   year_of_release   1286 non-null   int64
 9   runtime           1286 non-null   object
 10  genres            1286 non-null   object
 11  story             1036 non-null   object
 12  summary           1286 non-null   object
 13  tagline           16 non-null     object
 14  actors            1280 non-null   object
 15  wins_nominations  205 non-null    object
 16  release_date      573 non-null    object
dtypes: int64(2), object(15)
memory usage: 170.9+ KB

In [253]:
a2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1598 entries, 0 to 1597
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        1598 non-null   object
 1   imdb_id      1538 non-null   object
 2   poster_path  1297 non-null   object
 3   wiki_link    1598 non-null   object
dtypes: object(4)
memory usage: 50.1+ KB

In [254]:
"""
    no duplicates
"""
a2.duplicated().sum()

0

In [255]:
a2[a2.duplicated('title', keep=False)]

,title,imdb_id,poster_path,wiki_link
535,Andaaz,tt0346507,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Andaaz
536,Andaaz,tt0346507,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Andaaz_(2003_film)
698,Lagaan,tt0169102,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Lagaan
746,Lagaan,tt0169102,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Lagaan:_Once_Upo...
896,Dil Se..,tt0164538,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Dil_Se..
897,Ghulam (film),tt0190419,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Ghulam_(film)
900,Dulhe Raja,tt0210659,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Dulhe_Raja
917,Dulhe Raja,tt0210659,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Dulhe_Raja_(1998...
920,Dil Se..,tt0164538,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Dil_Se_(1998_film)
928,Ghulam (film),tt0190419,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Ghulam_(1998_film)
1185,Yeh Dillagi,tt0111793,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Yeh_Dillagi
1268,Yeh Dillagi,tt0111793,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Yeh_Dillagi_(199...

In [256]:
"""
    Dropping movie with simillar name
"""
a2.drop_duplicates('title',inplace=True)

In [257]:
b2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1535 entries, 0 to 1534
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   imdb_id          1535 non-null   object
 1   title            1535 non-null   object
 2   original_title   1535 non-null   object
 3   is_adult         1535 non-null   int64
 4   year_of_release  1535 non-null   int64
 5   runtime          1535 non-null   object
 6   genres           1535 non-null   object
dtypes: int64(2), object(5)
memory usage: 84.1+ KB

In [258]:
b2.duplicated().sum()
"""
    requires to drop duplicated
"""
b2.drop_duplicates(inplace=True)

In [259]:
b2.drop_duplicates('title',inplace=True)

In [260]:
b2.duplicated('imdb_id').sum()

0

In [261]:
c2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1531 entries, 0 to 1530
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   imdb_id           1531 non-null   object
 1   story             1475 non-null   object
 2   summary           1531 non-null   object
 3   tagline           381 non-null    object
 4   actors            1526 non-null   object
 5   wins_nominations  503 non-null    object
 6   release_date      1222 non-null   object
dtypes: object(7)
memory usage: 83.9+ KB

In [262]:
c2.duplicated('imdb_id').sum()

0

In [263]:
"""
    merging b2 and c2 based on imbd_id
"""
bc2 = b2.merge(c2, on='imdb_id')

"""
    Merging a1 and bc1 based on title 
"""
a2['original_title'] = a2['title']
y = a2.merge(bc2, on='original_title')

In [264]:
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 911 entries, 0 to 910
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title_x           911 non-null    object
 1   imdb_id_x         911 non-null    object
 2   poster_path       728 non-null    object
 3   wiki_link         911 non-null    object
 4   original_title    911 non-null    object
 5   imdb_id_y         911 non-null    object
 6   title_y           911 non-null    object
 7   is_adult          911 non-null    int64
 8   year_of_release   911 non-null    int64
 9   runtime           911 non-null    object
 10  genres            911 non-null    object
 11  story             876 non-null    object
 12  summary           911 non-null    object
 13  tagline           201 non-null    object
 14  actors            908 non-null    object
 15  wins_nominations  285 non-null    object
 16  release_date      714 non-null    object
dtypes: int64(2), object(15)
memory usage: 121.1+ KB

In [265]:
a3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 980 entries, 0 to 979
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        980 non-null    object
 1   imdb_id      935 non-null    object
 2   poster_path  920 non-null    object
 3   wiki_link    980 non-null    object
dtypes: object(4)
memory usage: 30.8+ KB

In [266]:
a3.duplicated().sum()

0

In [267]:
a3[a3.duplicated('title', keep=False)]

,title,imdb_id,poster_path,wiki_link
375,Tanu Weds Manu: Returns,tt2140465,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Tanu_Weds_Manu:_...
384,Gabbar Is Back,tt2424988,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Gabbar_Is_Back
421,Gabbar Is Back,tt2424988,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Gabbar_is_Back
425,Tanu Weds Manu: Returns,tt2140465,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Tanu_Weds_Manu_R...

In [269]:
a3.drop_duplicates('title', inplace=True)

In [270]:
b3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 929 entries, 0 to 928
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   imdb_id          929 non-null    object
 1   title            929 non-null    object
 2   original_title   929 non-null    object
 3   is_adult         929 non-null    int64
 4   year_of_release  929 non-null    object
 5   runtime          929 non-null    object
 6   genres           929 non-null    object
dtypes: int64(1), object(6)
memory usage: 50.9+ KB

In [271]:
b3.drop_duplicates(inplace=True)

In [272]:
b3[b3.duplicated('title',keep=False)]

,imdb_id,title,original_title,is_adult,year_of_release,runtime,genres
251,tt2175671,Ghost,Ghost,0,2012,118,Horror
920,tt9378950,Ghost,Ghost,0,2019,130,Horror|Thriller

In [273]:
b3.drop_duplicates('title',inplace=True)

In [274]:
b3[b3.duplicated('imdb_id',keep=False)]

Empty DataFrame
Columns: [imdb_id, title, original_title, is_adult, year_of_release, runtime, genres]
Index: []

In [275]:
c3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 919 entries, 0 to 918
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   imdb_id           919 non-null    object
 1   story             907 non-null    object
 2   summary           918 non-null    object
 3   tagline           270 non-null    object
 4   actors            917 non-null    object
 5   wins_nominations  395 non-null    object
 6   release_date      867 non-null    object
dtypes: object(7)
memory usage: 50.4+ KB

In [276]:
c1.duplicated().sum()

0

In [277]:
c1[c1.duplicated('imdb_id',keep=False)]

Empty DataFrame
Columns: [imdb_id, story, summary, tagline, actors, wins_nominations, release_date]
Index: []

In [278]:
"""
    merging b3 and c3 based on imbd_id
"""
bc3 = b3.merge(c3, on='imdb_id')

"""
    Merging a1 and bc1 based on title 
"""
a3['original_title'] = a3['title']
z = a3.merge(bc3, on='original_title')

In [279]:
z.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 575 entries, 0 to 574
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title_x           575 non-null    object
 1   imdb_id_x         575 non-null    object
 2   poster_path       540 non-null    object
 3   wiki_link         575 non-null    object
 4   original_title    575 non-null    object
 5   imdb_id_y         575 non-null    object
 6   title_y           575 non-null    object
 7   is_adult          575 non-null    int64
 8   year_of_release   575 non-null    object
 9   runtime           575 non-null    object
 10  genres            575 non-null    object
 11  story             567 non-null    object
 12  summary           575 non-null    object
 13  tagline           157 non-null    object
 14  actors            574 non-null    object
 15  wins_nominations  232 non-null    object
 16  release_date      538 non-null    object
dtypes: int64(1), object(16)
memory usage: 76.5+ KB

In [280]:
bc3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 912 entries, 0 to 911
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   imdb_id           912 non-null    object
 1   title             912 non-null    object
 2   original_title    912 non-null    object
 3   is_adult          912 non-null    int64
 4   year_of_release   912 non-null    object
 5   runtime           912 non-null    object
 6   genres            912 non-null    object
 7   story             900 non-null    object
 8   summary           911 non-null    object
 9   tagline           269 non-null    object
 10  actors            910 non-null    object
 11  wins_nominations  394 non-null    object
 12  release_date      860 non-null    object
dtypes: int64(1), object(12)
memory usage: 92.8+ KB

In [281]:
z.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 575 entries, 0 to 574
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title_x           575 non-null    object
 1   imdb_id_x         575 non-null    object
 2   poster_path       540 non-null    object
 3   wiki_link         575 non-null    object
 4   original_title    575 non-null    object
 5   imdb_id_y         575 non-null    object
 6   title_y           575 non-null    object
 7   is_adult          575 non-null    int64
 8   year_of_release   575 non-null    object
 9   runtime           575 non-null    object
 10  genres            575 non-null    object
 11  story             567 non-null    object
 12  summary           575 non-null    object
 13  tagline           157 non-null    object
 14  actors            574 non-null    object
 15  wins_nominations  232 non-null    object
 16  release_date      538 non-null    object
dtypes: int64(1), object(16)
memory usage: 76.5+ KB

In [282]:
"""
    Concatinating data x, y, z
"""

df = pd.concat([x,y,z])

In [283]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2772 entries, 0 to 574
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title_x           2772 non-null   object
 1   imdb_id_x         2772 non-null   object
 2   poster_path       2129 non-null   object
 3   wiki_link         2772 non-null   object
 4   original_title    2772 non-null   object
 5   imdb_id_y         2772 non-null   object
 6   title_y           2772 non-null   object
 7   is_adult          2772 non-null   int64
 8   year_of_release   2772 non-null   object
 9   runtime           2772 non-null   object
 10  genres            2772 non-null   object
 11  story             2479 non-null   object
 12  summary           2772 non-null   object
 13  tagline           374 non-null    object
 14  actors            2762 non-null   object
 15  wins_nominations  722 non-null    object
 16  release_date      1825 non-null   object
dtypes: int64(1), object(16)
memory usage: 389.8+ KB

In [284]:
df.drop_duplicates(inplace=True)

In [285]:
df['imdb_id'] = df['imdb_id_x']
df['title'] = df['original_title']

In [286]:
df.head(1)

,title_x,imdb_id_x,poster_path,wiki_link,original_title,imdb_id_y,title_y,is_adult,year_of_release,runtime,genres,story,summary,tagline,actors,wins_nominations,release_date,imdb_id,title
0,Aag Ka Gola,tt0177489,https://upload.wikimedia.org/wikipedia/en/2/2a...,https://en.wikipedia.org/wiki/Aag_Ka_Gola,Aag Ka Gola,tt0177489,Aag Ka Gola,0,1990,180,Action|Drama,Poverty and hunger forces young Shankar to tak...,Poverty and hunger forces young Shankar to tak...,NaN,Sunny Deol|Dimple Kapadia|Archana Puran Singh|...,NaN,NaN,tt0177489,Aag Ka Gola

In [287]:
df.drop(['title_x', 'imdb_id_x', 'original_title', 'imdb_id_y' ,'is_adult', 'title_y','runtime', 'tagline', 'wins_nominations', 'release_date'], axis=1, inplace=True)

In [288]:
df.drop('year_of_release',axis=1,inplace=True)

In [289]:
df.drop('story',axis=1,inplace=True)

In [290]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2769 entries, 0 to 574
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   poster_path  2126 non-null   object
 1   wiki_link    2769 non-null   object
 2   genres       2769 non-null   object
 3   summary      2769 non-null   object
 4   actors       2759 non-null   object
 5   imdb_id      2769 non-null   object
 6   title        2769 non-null   object
dtypes: object(7)
memory usage: 173.1+ KB

In [291]:
#df.drop('summary',axis=1,inplace=True)

# FINAL DATAFRAME

In [292]:
"""
    Final Data Frame will contain only following columns :
    imdb_id | title | tag
    
"""
pass

In [293]:
df.head(1)

,poster_path,wiki_link,genres,summary,actors,imdb_id,title
0,https://upload.wikimedia.org/wikipedia/en/2/2a...,https://en.wikipedia.org/wiki/Aag_Ka_Gola,Action|Drama,Poverty and hunger forces young Shankar to tak...,Sunny Deol|Dimple Kapadia|Archana Puran Singh|...,tt0177489,Aag Ka Gola

In [294]:
df['summary'].fillna('', inplace=True)
df['actors'].fillna('', inplace=True)
#df['story'].fillna('', inplace=True)

In [295]:
df

,poster_path,wiki_link,genres,summary,actors,imdb_id,title
0,https://upload.wikimedia.org/wikipedia/en/2/2a...,https://en.wikipedia.org/wiki/Aag_Ka_Gola,Action|Drama,Poverty and hunger forces young Shankar to tak...,Sunny Deol|Dimple Kapadia|Archana Puran Singh|...,tt0177489,Aag Ka Gola
1,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Ram_Lakhan,Action|Drama|Musical,Sharda (Raakhee) vows vengeance when her husba...,Rakhee Gulzar|Jackie Shroff|Anil Kapoor|Dimple...,tt0098168,Ram Lakhan
2,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Asmaan_Se_Ooncha,Action|Drama|Family,Anita lives an abusive life-style with her alc...,Jeetendra|Raj Babbar|Anita Raj|Govinda|Sonam|S...,tt0233146,Asmaan Se Ooncha
3,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Tridev,Action|Crime|Drama,A honest but disgraced Police Inspector's atte...,Naseeruddin Shah|Sunny Deol|Jackie Shroff|Madh...,tt0100816,Tridev
4,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Batwara,Action|Drama,In India circa after the British Rule there i...,Dharmendra|Vinod Khanna|Dimple Kapadia|Poonam ...,tt0096896,Batwara
...,...,...,...,...,...,...,...
570,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/I_Hate_Luv_Storys,Comedy|Drama|Romance,Jay doesn't believe in love Stories and Simra...,Imran Khan|Sonam Kapoor|Sammir Dattani|Samir S...,tt1667838,I Hate Luv Storys
571,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Dulha_Mil_Gaya,Comedy|Drama|Romance,A man marries so he can inherit his father's w...,Sushmita Sen|Fardeen Khan|Ishita Sharma|Shah R...,tt1182884,Dulha Mil Gaya
572,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Anjaana_Anjaani,Comedy|Drama|Musical,After numerous attempts at suicide fail a cou...,Priyanka Chopra|Aubrey K. Miller|Ranbir Kapoor...,tt1499201,Anjaana Anjaani
573,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Pankh_(film),Drama,After maturing a Bollywood child artiste long...,Bipasha Basu|Lillete Dubey|Mahesh Manjrekar|Ro...,tt1124386,Pankh
574,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Action_Replayy,Comedy|Romance|Sci-Fi,A young man tries to revive his parents' wilti...,Akshay Kumar|Aishwarya Rai Bachchan|Om Puri|Ki...,tt1396208,Action Replayy

# NATURAL LANGUAGE PROCESSING

In [296]:
df['genres'] = df['genres'].apply(lambda x : x.split('|'))
df['actors'] = df['actors'].apply(lambda x : x.split('|'))

In [297]:
df['summary'] = df['summary'].apply(lambda x : x.split())

In [298]:
df.head(1)

,poster_path,wiki_link,genres,summary,actors,imdb_id,title
0,https://upload.wikimedia.org/wikipedia/en/2/2a...,https://en.wikipedia.org/wiki/Aag_Ka_Gola,"[Action, Drama]","[Poverty, and, hunger, forces, young, Shankar,...","[Sunny Deol, Dimple Kapadia, Archana Puran Sin...",tt0177489,Aag Ka Gola

In [299]:
df['actors'] = df['actors'].apply(lambda x : x[:5])

In [329]:
final_df = df[['imdb_id','title']]

In [330]:
df

,poster_path,wiki_link,genres,summary,actors,imdb_id,title
0,https://upload.wikimedia.org/wikipedia/en/2/2a...,https://en.wikipedia.org/wiki/Aag_Ka_Gola,"[Action, Drama]","[Poverty, and, hunger, forces, young, Shankar,...","[Sunny Deol, Dimple Kapadia, Archana Puran Sin...",tt0177489,Aag Ka Gola
1,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Ram_Lakhan,"[Action, Drama, Musical]","[Sharda, (Raakhee), vows, vengeance, when, her...","[Rakhee Gulzar, Jackie Shroff, Anil Kapoor, Di...",tt0098168,Ram Lakhan
2,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Asmaan_Se_Ooncha,"[Action, Drama, Family]","[Anita, lives, an, abusive, life-style, with, ...","[Jeetendra, Raj Babbar, Anita Raj, Govinda, So...",tt0233146,Asmaan Se Ooncha
3,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Tridev,"[Action, Crime, Drama]","[A, honest, but, disgraced, Police, Inspector'...","[Naseeruddin Shah, Sunny Deol, Jackie Shroff, ...",tt0100816,Tridev
4,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Batwara,"[Action, Drama]","[In, India, circa, after, the, British, Rule, ...","[Dharmendra, Vinod Khanna, Dimple Kapadia, Poo...",tt0096896,Batwara
...,...,...,...,...,...,...,...
2764,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/I_Hate_Luv_Storys,"[Comedy, Drama, Romance]","[Jay, doesn't, believe, in, love, Stories, and...","[Imran Khan, Sonam Kapoor, Sammir Dattani, Sam...",tt1667838,I Hate Luv Storys
2765,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Dulha_Mil_Gaya,"[Comedy, Drama, Romance]","[A, man, marries, so, he, can, inherit, his, f...","[Sushmita Sen, Fardeen Khan, Ishita Sharma, Sh...",tt1182884,Dulha Mil Gaya
2766,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Anjaana_Anjaani,"[Comedy, Drama, Musical]","[After, numerous, attempts, at, suicide, fail,...","[Priyanka Chopra, Aubrey K. Miller, Ranbir Kap...",tt1499201,Anjaana Anjaani
2767,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Pankh_(film),[Drama],"[After, maturing, a, Bollywood, child, artiste...","[Bipasha Basu, Lillete Dubey, Mahesh Manjrekar...",tt1124386,Pankh
2768,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Action_Replayy,"[Comedy, Romance, Sci-Fi]","[A, young, man, tries, to, revive, his, parent...","[Akshay Kumar, Aishwarya Rai Bachchan, Om Puri...",tt1396208,Action Replayy

In [331]:
df.reset_index(inplace=True)

In [332]:
df.drop('index',axis=1,inplace=True)

In [333]:
df

,poster_path,wiki_link,genres,summary,actors,imdb_id,title
0,https://upload.wikimedia.org/wikipedia/en/2/2a...,https://en.wikipedia.org/wiki/Aag_Ka_Gola,"[Action, Drama]","[Poverty, and, hunger, forces, young, Shankar,...","[Sunny Deol, Dimple Kapadia, Archana Puran Sin...",tt0177489,Aag Ka Gola
1,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Ram_Lakhan,"[Action, Drama, Musical]","[Sharda, (Raakhee), vows, vengeance, when, her...","[Rakhee Gulzar, Jackie Shroff, Anil Kapoor, Di...",tt0098168,Ram Lakhan
2,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Asmaan_Se_Ooncha,"[Action, Drama, Family]","[Anita, lives, an, abusive, life-style, with, ...","[Jeetendra, Raj Babbar, Anita Raj, Govinda, So...",tt0233146,Asmaan Se Ooncha
3,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Tridev,"[Action, Crime, Drama]","[A, honest, but, disgraced, Police, Inspector'...","[Naseeruddin Shah, Sunny Deol, Jackie Shroff, ...",tt0100816,Tridev
4,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Batwara,"[Action, Drama]","[In, India, circa, after, the, British, Rule, ...","[Dharmendra, Vinod Khanna, Dimple Kapadia, Poo...",tt0096896,Batwara
...,...,...,...,...,...,...,...
2764,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/I_Hate_Luv_Storys,"[Comedy, Drama, Romance]","[Jay, doesn't, believe, in, love, Stories, and...","[Imran Khan, Sonam Kapoor, Sammir Dattani, Sam...",tt1667838,I Hate Luv Storys
2765,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Dulha_Mil_Gaya,"[Comedy, Drama, Romance]","[A, man, marries, so, he, can, inherit, his, f...","[Sushmita Sen, Fardeen Khan, Ishita Sharma, Sh...",tt1182884,Dulha Mil Gaya
2766,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Anjaana_Anjaani,"[Comedy, Drama, Musical]","[After, numerous, attempts, at, suicide, fail,...","[Priyanka Chopra, Aubrey K. Miller, Ranbir Kap...",tt1499201,Anjaana Anjaani
2767,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Pankh_(film),[Drama],"[After, maturing, a, Bollywood, child, artiste...","[Bipasha Basu, Lillete Dubey, Mahesh Manjrekar...",tt1124386,Pankh
2768,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Action_Replayy,"[Comedy, Romance, Sci-Fi]","[A, young, man, tries, to, revive, his, parent...","[Akshay Kumar, Aishwarya Rai Bachchan, Om Puri...",tt1396208,Action Replayy

In [334]:
df.iloc[0]['actors']

['Sunny Deol',
 'Dimple Kapadia',
 'Archana Puran Singh',
 'Shakti Kapoor',
 'Prem Chopra']

In [335]:
final_df

        imdb_id              title
0     tt0177489        Aag Ka Gola
1     tt0098168         Ram Lakhan
2     tt0233146   Asmaan Se Ooncha
3     tt0100816             Tridev
4     tt0096896            Batwara
...         ...                ...
2764  tt1667838  I Hate Luv Storys
2765  tt1182884     Dulha Mil Gaya
2766  tt1499201    Anjaana Anjaani
2767  tt1124386              Pankh
2768  tt1396208     Action Replayy

[2769 rows x 2 columns]

In [336]:
final_df['tags'] = df['genres'] + df['actors'] + df['summary']

C:\Users\hp\AppData\Local\Temp\ipykernel_16208\1058380392.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['tags'] = df['genres'] + df['actors'] + df['summary']

In [337]:
final_df.head(1)

     imdb_id        title                                               tags
0  tt0177489  Aag Ka Gola  [Action, Drama, Sunny Deol, Dimple Kapadia, Ar...

In [309]:
final_df.reset_index(inplace=True)

In [338]:
final_df

,imdb_id,title,tags
0,tt0177489,Aag Ka Gola,"[Action, Drama, Sunny Deol, Dimple Kapadia, Ar..."
1,tt0098168,Ram Lakhan,"[Action, Drama, Musical, Rakhee Gulzar, Jackie..."
2,tt0233146,Asmaan Se Ooncha,"[Action, Drama, Family, Jeetendra, Raj Babbar,..."
3,tt0100816,Tridev,"[Action, Crime, Drama, Naseeruddin Shah, Sunny..."
4,tt0096896,Batwara,"[Action, Drama, Dharmendra, Vinod Khanna, Dimp..."
...,...,...,...
2764,tt1667838,I Hate Luv Storys,"[Comedy, Drama, Romance, Imran Khan, Sonam Kap..."
2765,tt1182884,Dulha Mil Gaya,"[Comedy, Drama, Romance, Sushmita Sen, Fardeen..."
2766,tt1499201,Anjaana Anjaani,"[Comedy, Drama, Musical, Priyanka Chopra, Aubr..."
2767,tt1124386,Pankh,"[Drama, Bipasha Basu, Lillete Dubey, Mahesh Ma..."
2768,tt1396208,Action Replayy,"[Comedy, Romance, Sci-Fi, Akshay Kumar, Aishwa..."

In [311]:
final_df.drop('index',axis=1, inplace=True)

C:\Users\hp\AppData\Local\Temp\ipykernel_16208\2963869202.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.drop('index',axis=1, inplace=True)

In [339]:
final_df

,imdb_id,title,tags
0,tt0177489,Aag Ka Gola,"[Action, Drama, Sunny Deol, Dimple Kapadia, Ar..."
1,tt0098168,Ram Lakhan,"[Action, Drama, Musical, Rakhee Gulzar, Jackie..."
2,tt0233146,Asmaan Se Ooncha,"[Action, Drama, Family, Jeetendra, Raj Babbar,..."
3,tt0100816,Tridev,"[Action, Crime, Drama, Naseeruddin Shah, Sunny..."
4,tt0096896,Batwara,"[Action, Drama, Dharmendra, Vinod Khanna, Dimp..."
...,...,...,...
2764,tt1667838,I Hate Luv Storys,"[Comedy, Drama, Romance, Imran Khan, Sonam Kap..."
2765,tt1182884,Dulha Mil Gaya,"[Comedy, Drama, Romance, Sushmita Sen, Fardeen..."
2766,tt1499201,Anjaana Anjaani,"[Comedy, Drama, Musical, Priyanka Chopra, Aubr..."
2767,tt1124386,Pankh,"[Drama, Bipasha Basu, Lillete Dubey, Mahesh Ma..."
2768,tt1396208,Action Replayy,"[Comedy, Romance, Sci-Fi, Akshay Kumar, Aishwa..."

In [313]:
"""
     Removing Space between names 
     eg. Sunny Deol --> SunnyDeol
"""
pass

In [340]:
final_df['tags'] = final_df['tags'].apply(lambda x : [i.replace(" ", "") for i in x])

C:\Users\hp\AppData\Local\Temp\ipykernel_16208\1489802285.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['tags'] = final_df['tags'].apply(lambda x : [i.replace(" ", "") for i in x])

In [214]:
"""
    Processing each word to transform it to root word
"""
pass

In [341]:
from nltk.stem.porter import PorterStemmer
ps  = PorterStemmer() 
final_df['tags'] = final_df['tags'].apply(lambda x : [ps.stem(i) for i in x])

C:\Users\hp\AppData\Local\Temp\ipykernel_16208\2827922128.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['tags'] = final_df['tags'].apply(lambda x : [ps.stem(i) for i in x])

In [342]:
final_df['tags'] = final_df['tags'].apply(lambda x: " ".join(x).lower())

C:\Users\hp\AppData\Local\Temp\ipykernel_16208\4018685354.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['tags'] = final_df['tags'].apply(lambda x: " ".join(x).lower())

In [506]:
"""
    Vectorization
    frequency of most frequent 6000 words for each movie
"""

from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=800, stop_words='english')
vectors = cv.fit_transform(final_df['tags']).toarray()

In [507]:
# for i in cv.get_feature_names_out():
#     print(i)

In [508]:
vectors.shape

(2769, 800)

In [509]:
cv.get_feature_names_out()

array(['aamirkhan', 'abandon', 'abduct', 'abhibhattacharya',
       'abhishekbachchan', 'abus', 'accept', 'accid', 'accident', 'accus',
       'action', 'activ', 'actor', 'actress', 'add', 'adityapancholi',
       'adopt', 'adventur', 'advoc', 'affair', 'aftabshivdasani', 'age',
       'agent', 'agha', 'agre', 'aishwaryaraibachchan', 'ajay',
       'ajaydevgn', 'ajit', 'akshaykumar', 'alcohol', 'alia', 'aloknath',
       'alway', 'amar', 'ameeshapatel', 'amitabhbachchan', 'amjadkhan',
       'amolpalekar', 'amrishpuri', 'amritasingh', 'anand', 'ani', 'anil',
       'anildhawan', 'anilkapoor', 'anim', 'anita', 'anitaraj', 'anjali',
       'anoth', 'anupamkh', 'anwarhussain', 'arbaazkhan', 'arjun',
       'arjunramp', 'armi', 'arrang', 'arrest', 'arriv', 'arshadwarsi',
       'arun', 'arunairani', 'asha', 'ashaparekh', 'ashasachdev', 'ashok',
       'ashokkumar', 'ashutoshrana', 'ask', 'aspir', 'asrani', 'assassin',
       'assign', 'assist', 'attempt', 'attend', 'attract', 'aveng',
       'avtargil', 'away', 'babi', 'background', 'bad', 'bahadur',
       'balrajsahni', 'bandit', 'bank', 'bas', 'base', 'battl', 'beauti',
       'becaus', 'becom', 'beenabanerje', 'befor', 'befriend', 'begin',
       'believ', 'belong', 'best', 'bharatbhushan', 'big', 'bindu',
       'biographi', 'bipashabasu', 'bipingupta', 'birbal', 'birth',
       'biswajitchatterje', 'blind', 'bobbydeol', 'bodi', 'bollywood',
       'bomanirani', 'bombay', 'born', 'boss', 'boy', 'break', 'bride',
       'bring', 'british', 'brother', 'brought', 'busi', 'businessman',
       'calcutta', 'car', 'care', 'career', 'carri', 'case', 'caught',
       'caus', 'central', 'challeng', 'chandni', 'chandrashekhar',
       'chang', 'charact', 'charg', 'child', 'childhood', 'children',
       'chunkypandey', 'citi', 'city', 'claim', 'class', 'close',
       'colleg', 'college', 'collegian', 'come', 'comedi', 'comic',
       'commission', 'commit', 'commun', 'compani', 'consist', 'continu',
       'convict', 'cop', 'corrupt', 'countri', 'coupl', 'court', 'creat',
       'crime', 'crimin', 'crook', 'cross', 'dad', 'danc', 'dancer',
       'dannydenzongpa', 'darasingh', 'dark', 'daughter', 'davidabraham',
       'day', 'dead', 'deal', 'death', 'decid', 'deep', 'deepak',
       'deepikapadukon', 'deeptinav', 'delhi', 'despit', 'devanand',
       'devenverma', 'devi', 'dhanraj', 'dharmendra', 'die', 'differ',
       'dilig', 'dilipkumar', 'dimplekapadia', 'dinapathak',
       'dineshhingoo', 'direct', 'discov', 'divyadutta', 'doctor', 'doe',
       'don', 'dr', 'drama', 'dream', 'drive', 'drug', 'dure', 'durga',
       'durgakhot', 'dutt', 'earn', 'educ', 'elder', 'embark', 'employ',
       'employe', 'emraanhashmi', 'encount', 'end', 'enemi', 'entir',
       'escap', 'estat', 'estrang', 'event', 'eventu', 'everi', 'everyon',
       'everyth', 'evil', 'ex', 'exist', 'experi', 'face', 'fall',
       'famili', 'family', 'fantasi', 'fardeenkhan', 'farhanaaz',
       'faridajal', 'farmer', 'farooqshaikh', 'fate', 'father', 'fear',
       'fellow', 'femal', 'ferozkhan', 'fight', 'film', 'final', 'follow',
       'forc', 'form', 'frame', 'free', 'freedom', 'friend', 'friends',
       'friendship', 'gang', 'ganga', 'gangster', 'geeta', 'gener',
       'ghost', 'girishkarnad', 'girl', 'girlfriend', 'goa', 'goe',
       'good', 'goon', 'gopal', 'got', 'govinda', 'great', 'groom',
       'group', 'grow', 'gulshangrov', 'guy', 'ha', 'hand', 'hang',
       'happen', 'happi', 'happili', 'head', 'heart', 'helen', 'help',
       'hemamalini', 'hi', 'hide', 'high', 'hindi', 'hindu', 'hire',
       'histori', 'hit', 'home', 'honest', 'hope', 'horror', 'hotel',
       'hous', 'house', 'howev', 'hrithikroshan', 'husband', 'ident',
       'iftekhar', 'includ', 'india', 'indian', 'industrialist', 'innoc',
       'inspector', 'inspir', 'instead', 'investig', 'involv',
       'irrfankhan', 'jackieshroff', 'jagdeep', 'jai', 'jail',
       'javedjaffrey', 'jayabachchan', 'jayaprada', 'jeetendra', 'jeevan',
       'jimmysheirgil', 'job', 'johar', 'johnabraham', 'johnnylev',
       'johnnywalk', 'join', 'journalist', 'journey', 'joymukherje',
       'juhichawla', 'just', 'justic', 'kabirbedi', 'kaderkhan', 'kajol',
       'kanhaiyalalchaturvedi', 'kapoor', 'karan', 'kareenakapoor',
       'karismakapoor', 'katrinakaif', 'kaykaymenon', 'khan', 'khanna',
       'kidnap', 'kill', 'killer', 'kimikatkar', 'kind', 'king',
       'kirankumar', 'kironkh', 'kishan', 'kishorekumar', 'know', 'known',
       'krishna', 'kulbhushankharbanda', 'kumar', 'kumkum', 'lal',
       'lalitapawar', 'land', 'later', 'law', 'lawyer', 'laxmi',
       'laxmichhaya', 'lead', 'leader', 'learn', 'leav', 'leelamishra',
       'leenachandavarkar', 'left', 'lie', 'life', 'lifestyl', 'like',
       'littl', 'live', 'loc', 'local', 'locat', 'london', 'lone', 'long',
       'look', 'lose', 'lost', 'love', 'lover', 'madanpuri', 'madhoo',
       'madhuridixit', 'mahimachaudhri', 'major', 'make', 'mala',
       'malasinha', 'male', 'malhotra', 'mamtakulkarni', 'man', 'manag',
       'mani', 'manishakoirala', 'manmohankrishna', 'manojbajpaye',
       'manojkumar', 'mansion', 'marri', 'marriag', 'marriage', 'married',
       'masterbhagwan', 'meena', 'meenakshisheshadri', 'meenakumari',
       'meet', 'mehmood', 'men', 'mental', 'middl', 'middle',
       'millionair', 'mind', 'minist', 'miss', 'mission',
       'mithunchakraborti', 'modern', 'mohan', 'mohanchoti', 'mohanjoshi',
       'mohnishbahl', 'mom', 'money', 'mother', 'moushumichatterje',
       'movi', 'mr', 'multi', 'mumbai', 'mumtaz', 'murder', 'music',
       'muslim', 'mysteri', 'nadira', 'naiv', 'nanapatekar', 'nanda',
       'narayan', 'naseeruddinshah', 'nasirhussain', 'nath',
       'navinnischol', 'nawazuddinsiddiqui', 'neelamkothari',
       'neetusingh', 'nehadhupia', 'new', 'night', 'niruparoy', 'notori',
       'nutan', 'obsess', 'offic', 'old', 'omprakash', 'ompuri',
       'omshivpuri', 'onli', 'opposit', 'order', 'orphan', 'owner',
       'padminikolhapur', 'palati', 'pandey', 'pankajkapur', 'parent',
       'pareshraw', 'parveenbabi', 'pass', 'passion', 'past', 'pay',
       'peopl', 'person', 'petti', 'photograph', 'place', 'plan', 'play',
       'plot', 'polic', 'polit', 'politician', 'pooja', 'poonamdhillon',
       'poor', 'power', 'pradeepkumar', 'prakash', 'pran', 'prasad',
       'pratap', 'pregnant', 'preityzinta', 'prem', 'premchopra',
       'premnath', 'princ', 'prison', 'priyankachopra', 'problem',
       'professor', 'promis', 'prostitut', 'protect', 'prove', 'puri',
       'quit', 'raajkumar', 'radha', 'raghuviryadav', 'rahul', 'rai',
       'rais', 'raj', 'raja', 'rajanhaksar', 'rajbabbar', 'rajendrakumar',
       'rajendranath', 'rajesh', 'rajeshkhanna', 'rajkapoor', 'rajkiran',
       'rajmehra', 'raju', 'rakesh', 'rakeshbedi', 'rakeshroshan',
       'rakheegulzar', 'ram', 'rameshdeo', 'rammohan', 'randhirkapoor',
       'rani', 'ranimukerji', 'ranjeet', 'ranjeetakaur', 'ranvirshorey',
       'rape', 'ratiagnihotri', 'raveenatandon', 'ravi', 'ravikishan',
       'razamurad', 'real', 'realiti', 'realiz', 'reemalagoo', 'reenaroy',
       'refus', 'region', 'rehman', 'rekha', 'relationship', 'report',
       'rescu', 'respect', 'respons', 'result', 'return', 'reunit',
       'reveng', 'revolv', 'rich', 'rishikapoor', 'riteishdeshmukh',
       'rob', 'romanc', 'romant', 'roy', 'rule', 'run', 'rural',
       'sadashivamrapurkar', 'sadhana', 'saifalikhan', 'sairabanu',
       'salmankhan', 'sanjay', 'sanjaydutt', 'sanjaykhan', 'sanjaymishra',
       'sanjeevkumar', 'sapna', 'satishkaushik', 'satishshah',
       'satyendrakapoor', 'saurabhshukla', 'save', 'savitri', 'saxena',
       'school', 'search', 'second', 'secret', 'seek', 'seema', 'self',
       'sell', 'sentenc', 'separ', 'seri', 'set', 'settl', 'sever',
       'shabanaazmi', 'shafiinamdar', 'shahidkapoor', 'shahrukhkhan',
       'shaktikapoor', 'shammi', 'shammikapoor', 'shankar', 'shanti',
       'sharatsaxena', 'sharda', 'share', 'sharma', 'sharmanjoshi',
       'sharmilatagor', 'shashikala', 'shashikapoor', 'shatrughansinha',
       'shekhar', 'shilpashettykundra', 'short', 'shortli',
       'shreeramlagoo', 'shyam', 'simpl', 'sinc', 'sing', 'singer',
       'singh', 'singl', 'sinha', 'sister', 'small', 'smitapatil',
       'smuggler', 'social', 'societi', 'son', 'sonalibendr', 'sonam',
       'soon', 'spend', 'spirit', 'sport', 'sridevi', 'star', 'start',
       'state', 'station', 'stay', 'step', 'stori', 'street', 'struggl',
       'student', 'studi', 'styl', 'success', 'sujitkumar',
       'sulochanalatkar', 'suman', 'sunder', 'sunil', 'sunildutt',
       'sunilshetti', 'sunnydeol', 'suraj', 'sureshoberoi', 'suspect',
       'sweetheart', 'tabu', 'tale', 'tanuja', 'task', 'teach', 'teacher',
       'team', 'tell', 'terror', 'terrorist', 'thakur', 'thi', 'thief',
       'thing', 'thriller', 'thu', 'time', 'tinaambani', 'tinnuanand',
       'togeth', 'town', 'train', 'travel', 'treat', 'tri', 'trip',
       'troubl', 'true', 'truth', 'turn', 'tussharkapoor', 'twin',
       'unabl', 'uncl', 'underworld', 'unemploy', 'unmarri',
       'urmilabhatt', 'use', 'utpaldutt', 'veri', 'verma', 'vicki',
       'vidyabalan', 'vijay', 'vijayendraghatg', 'vikasanand', 'vikram',
       'villag', 'village', 'vinaypathak', 'vinod', 'vinodkhanna',
       'vinodmehra', 'vishal', 'visit', 'vyjayanthimala', 'wa',
       'waheedarehman', 'want', 'war', 'watch', 'way', 'wealth',
       'wealthi', 'wed', 'widow', 'wife', 'win', 'wit', 'woman', 'women',
       'work', 'world', 'writer', 'wrong', 'year', 'yogeetabali', 'young',
       'younger', 'youth', 'zeenataman'], dtype=object)

# COSINE SIMILLARITIES

In [510]:
"""
    Cosine Similarites
"""

from sklearn.metrics.pairwise import cosine_similarity
simillarity = cosine_similarity(vectors)

In [511]:
import difflib

In [512]:
movie_list = final_df['title'].values.tolist()

# FUNCTION TO RECOMEND MOVIES

In [594]:
def recommend(movie_name):
    movie_name = difflib.get_close_matches(movie_name,movie_list)[0]
    
    movie_index = df[df['title'] == movie_name].index[0]
    cosine_distance = simillarity[movie_index]

    required_movies = sorted(enumerate(cosine_distance),reverse=True, key=lambda x:x[1])[0:20]
    
    data = []
    
    for i in required_movies:
        item = []
        item.append(df[df['imdb_id'] == df.iloc[i[0]]['imdb_id']]['title'].values[0])
        item.append(" ".join(df[df['imdb_id'] == df.iloc[i[0]]['imdb_id']]['summary'].values[0]))
        item.append(df[df['imdb_id'] == df.iloc[i[0]]['imdb_id']]['actors'].values[0])
        item.append(df[df['imdb_id'] == df.iloc[i[0]]['imdb_id']]['wiki_link'].values[0])
        item.append(df[df['imdb_id'] == df.iloc[i[0]]['imdb_id']]['poster_path'].values[0])
        data.append(item)
        
    print(data)

# CREATING PICKLE FILE

In [598]:
import pickle

In [666]:
pickle.dump(movie_list, open('movie_list.pkl', 'wb'))
pickle.dump(simillarity, open('simillarity.pkl', 'wb'))
pickle.dump(df, open('df.pkl', 'wb'))